:root {
    --white: #ffffff;
    --black: #171717;
    --purple-25: #fcfbff;
    --purple-50: #f4f1fc;
    --purple-100: #ebe7f6;
    --purple-200: #c1b4e4;
    --purple-300: #9d89d4;
    --purple-400: #7e64c7;
    --purple-500: #6444bb;
    --purple-600: #53389b;
    --purple-700: #452e81;
    --purple-800: #39266b;
    --purple-900: #2f2059;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scrollbar-width: thin;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background: var(--purple-25);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}


a {
    text-decoration: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

input,
button,
select,
optgroup,
textarea {
    border: 1px solid #e5e7eb;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;

    &:focus {
        outline: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button,
select {
    text-transform: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
}
